<main class="container">
  <%= link_to sanitize("&larr; Back to Data Crumb"), data_crumb_path(@data_crumb) %>

  <div class="header">
    <h1>Edit Data Crumb</h1>
  </div>

  <%= render "form", data_crumb: @data_crumb %>
</main>
