<main class="container">
  <%= turbo_frame_tag "first_turbo_frame" do %>
    <div class="header">
      <h1>Data Crumbs</h1>
      <%= link_to "New Data Crumb", new_data_crumb_path, class: "btn btn--primary" %>
    </div>
  <% end %>

  <%= render @data_crumbs %>
</main>
