<div class="workflow__container">
  <div class="workflow__playground">
    <div class="workflow__chain-section">
      <%= render "test_prompt_form" %>
      <%= render 'new_feature_section' %>
      <%= render 'workflow_details' %>
    </div>
    <div class="workflow__test-section">
      <%= render 'workflow_output' %>
    </div>
  </div>
</div>
