.warehouse {
  &__header {
    margin: var(--space-xs);

    h2 {
      padding-bottom: var(--space-xs);
    }
  }

  &__data_item {
    padding: var(--space-m);
  }

  &__data_crumb {
    padding: var(--space-m);
    margin: var(--space-xs);
    border: 1px solid var(--color-primary-rotate);

    &__decorator_type, &__name {
      font-weight: bold;
    }
  }
}
