<main class="container">
  <div class="header">
    <h1><%= @warehouse.name %></h1>
  </div>
  <div class="warehouse__data_crumbs">
    <% @data_crumbs.each do |data_crumb| %>
      <div class="warehouse__data_crumb">
        <%= data_crumb.content[0..200] ... %>
      </div>
    <% end %>
  </div>
</main>
