<main class="container">
  <div class="header">
    <h1><%= @warehouse.name %></h1>
  </div>
  <div class="warehouse__data_item">
    <h2>Features</h2>
    <div class="home-section-content">
      <% @features.each do |feature| %>
        <%= link_to feature.name, feature, class: "btn btn--dark" %>
      <% end %>
    </div>
  </div>
  <div class="warehouse__data_item">
    <h2>Data Crumbs</h2>
    <% @data_crumbs.each do |data_crumb| %>
      <div class="warehouse__data_crumb">
        <%= data_crumb.content[0..200] ... %>
      </div>
    <% end %>
  </div>
</main>
